Tests/arquivos/
arquivos_testes/*
log/*
logs/*
log
logs
.log
.vscode
Teste_automatizados/arquivos_testes/selenium.log
Teste_automatizados/arquivos_testes/ListaEmpresasCriadas.txt
Teste_automatizados/features/support/dados.json
Teste_automatizados/screenshots
Tests/*